<h1>Jenny's Stuff</h1>

<table>
  <thead>
    <tr>
      <th>Size</th>
      <th>Color</th>
      <th>Tag</th>
      <th>Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.size %></td>
        <td><%= item.color %></td>
        <td><%= item.tag %></td>
        <td><img src="<%= item.image %>" class="thumbnail"/></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>
